body {
  font-family: VodafoneRg,'Arial CE',Arial,Helvetica,sans-serif;
}
/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 13px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: white;
    height: 10% !important;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: black;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: white;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  .bm-menu a {
    color: #e60000;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  .grey-panel {
    background: #2e2e2e;
  }
  .breadcrumb {
    background: transparent;
  }
  .breadcrumb a {
    color: white;
    background: #5a5757;
    padding: 8px 20px;
    font-size: 13px;
    border-radius: 7px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .breadcrumb a:hover {
    opacity: .9;
  }

  .page-wrap {
    background: #eee;
  }

  h1 {
    font-size: 1.3em;
    font-weight: 700;
    color: #5a5757;
  }

  h3 {
    color: #4a4d4e;
    font-size: 1em;
  }

  .form-row .white {
    background: white;
  }

  .form-row .col {
    margin-right: 10px;
  }

  .form-control {
    border: 0;
    padding: 0.175rem 0.65rem 0 0.65rem;
    margin-top: -9px;
    margin-bottom: 5px;
    background: transparent;
    font-weight: 700;
  }
  .form-control:focus {
    outline: 0;
    box-shadow: none;
  }
  label {
    font-size: 0.7em;
    padding: 1em 1em 0;
    margin-bottom: 0;
  }

  .btn {
    padding: 1em 2em;
    text-transform: uppercase;
    background: #5db127;
    border: 0;
    width: 100%
  }
  .btn:hover { 
    background:#5db127;
    opacity: .9;
  }